.box{
    max-width: 400px;
    background-color: lightgreen;
    margin: 10px 20px;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    gap: 10px;
}

li{
    /* list-style: none; */
}

.extra-gap{
    margin-bottom: 5rem;
}

h3,h5{
    margin: 0;
    padding: 0;
}
