.box{
    max-width: 220px;
    background-color: lightgreen;
    margin: 10px 20px;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    gap: 10px;
}

li{
    list-style: none;
}

.parent{
    border-left: solid;
}

.firstChild{
    border-left: solid orange;
}

.extra-gap{
    margin-bottom: 5rem;
}

h3,h5{
    margin: 0;
    padding: 0;
}
